.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
  /* visibility: hidden; */
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 0 19px;
}

.modal__form-container {
  position: fixed;
  background-color: white;
  max-width: 496px;
  width: 100%;
  max-height: 436px;
  border-radius: 20px;
  padding: 28px 28px 36px;
}

.modal__form-title {
  margin: 0;
}

.modal__form_close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  background: transparent url(../../images/modalForm-close.svg) center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.modal__list {
  list-style-type: none;
  padding: 0;
}

.modal__form-field {
  margin-top: 24px;
}

.modal__input {
  padding: 0 0 4px;
  width: 440px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0);
}

.modal__text {
  margin: 24px 0 8px;
}
