.card__section {
  margin: 40px;
  margin-left: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 34px;
}

.card__container {
  display: flex;
  justify-content: center;
}

.card__name {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  margin-top: 16px;
  background-color: white;
  border-radius: 4px;
  padding: 2px 12px;
  max-width: 95px;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 20px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card__text {
  display: flex;
  font-size: 20px;
  line-height: 25px;
}
