.header {
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 32px 40px 28px;
}

.header__logo-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-group {
  display: flex;
  gap: 20px;
  align-items: center;
}
