.weather__card {
  position: relative;
  margin-left: 40px;
}

.weather__temp {
  position: absolute;
  color: white;
  font-weight: 700;
  font-family: "CabinetGrotesk-Bold";
  font-size: 36px;
  line-height: 40px;
  margin: 20px 16px;
}
